@import "./Variables.scss";

.MutableOfficeHour {
	&.course-invalid > input[type="time"], &.course-invalid > button {
		color: $nord1 !important;
		background-color: $nord13 !important;
	}

	&.invalid > input[type="time"], &.invalid > button {
		background-color: $nord11 !important;
		color: inherit !important;
	}

	input[type="time"] {
		color: $nord6;
		background-color: $nord2;
		border-radius: 0.6em;
		padding: 4px 8px;
		font-size: medium;
		border: none;
		font-family: Arial, Helvetica, sans-serif;
	}

	button {
		margin-left: 1em !important;
	}
}