@import "./Variables.scss";

.Navbar {
  background-color: $navbar-background;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
	font-size: calc(10px + 2vmin);

	.Navbar-span {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Navbar-links {
		padding: 1rem;
	}

	.Navbar-link {
		color: $link-color;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: large;
		text-decoration: none;
		padding: 0 1rem;
	}

	.Navbar-link:hover {
		color: $nord5;
		background-color: $nord2;
		border-radius: 1em;
	}
	
	.Navbar-logo {
		background-color: white;
		border-radius: 33%;
		width: calc(10px + 2vmin);
		height: calc(10px + 2vmin);
		padding: 0.5rem;
		margin: 0 0.75rem;
	}
}