@import "./Variables.scss";

.PT {
	img {
		float: right;
		border-radius: 0.25rem;
	}

	div.Sideways {
		display: flex;
		flex-direction: row;
		align-items: left;
		justify-content: space-around;
	}

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	max-width: 800px;
}